{% extends 'base.html' %}
{% block content %}
<h1>la liste des conferences </h1>
<a href="{% url 'conference_add' %}">add a conference</a>
<table border="1">
    <tr>
        <td>name</td>
        <td>theme</td>
        <td>date de conference</td>
        <td>action</td>
    </tr>
    {% for c in liste %}
    <tr>
        <td>{{c.name}}</td>
        <td>{{c.theme}}</td>
        <td>{{c.start_date}} - {{c.end_date}}</td>
         <td>
            <a href="{% url 'conference_details' c.pk %}">Détails</a> |
            <a href="{% url 'conference_delete' c.pk %}">Supprimer</a>
            <a href="{% url 'conference_update' c.pk %}">Modifier</a> |
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}